<!DOCTYPE html>
<html>
<head>
<!--для мобилы-->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INSIDE VR Клуб Томска</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,700&subset=latin,cyrillic">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--для twenty-twenty-->
    <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>twentytwenty</title>
  <link href="{{ url_for('static', filename='css/foundation.css')}}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/twentytwenty.css')}}" rel="stylesheet" type="text/css">
<!--локальные файлы-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/First_Block.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Review.css')}}">
</head>
<body>  
<!--первый блок, заглавная-->
        <div class="twentytwenty-container">
            <img src="{{ url_for('static', filename='img/1_1.jpg')}}">
            <img src="{{ url_for('static', filename='img/1_2.jpg')}}">
            <header id="First_Block_header">
                    Клуб виртуальной реальности <strong>INSIDE VR</strong>
            </header>
            <div id="First_Block_attraction_word">
                        <strong>Акция!</strong> Первое посещение бесплатно!
                    </div>
            <div id="twentytwenty_buttons">
                <a href="#" class="twentytwenty-button">Бронирование</a>
                <a href="#Fourth_Block" class="twentytwenty-button"> Игры</a>
            </div>
        </div> 
<!--второй блок, О нас-->
    	    <div id="Second_Block" class="container">
                <div id="Second_Block_info">
                    <div id="Second_Block_text_part">
                        <h1 id="Second_Block_Header">
                            <strong>О нас</strong>
                        </h1>
                        <div id="Second_Block_main_text">  
                        куда сводить школьника? типа больше некуда, вот вам клуб  
                            Ещё недавно никто не мог себе предсавить, что он сможет не только смотреть, но и взаимодействовать с виртуальным миром.
                            Клуб виртуальной реальности это - лучшие игры и развлечения. Будущее уже здесь! В «INSIDE VR» Благодаря самому современному оборудованию, вы сможете оказаться за рулем гоночного болида, отправиться в путешествие в любую точку Земли, посетить красивейшие миры и это еще далеко не всё. Как на счёт спасти мир от зомби-апокалипсиса после трудового дня? Всё возможно! Для любителей квестов в виртуальной реальности существуют различные игры с интересными головоломками. Для любителей творчества у нас тоже найдётся кое-что «вкусненькое». Для детей различного возраста также предусмотрены как игры, так и развивающие приложения. Посетите этот мир один, или насладитесь им с друзьями, играя по сети. У нас организована комфортная зона отдыха для ваших близких, где они смогут наблюдать за всеми вашими действиями и быть помощниками в виртуальной реальности. Будем рады подарить Вам новые впечатления, Мы ждём вас. Команда куба «INSIDE VR». 
                        </div>
        		        <div id="Second_Block_attraction_word">
                            Подарите себе и своим близким незабываемые впечатления
                        </div>
                        <div id="client_Form">
                            <a href="javascript:PopUpShow()" class="button">Хочу попробовать!</a>
                            
                        </div>
                    </div>
                    <div id="Second_Block_video_part">
                        <iframe src="https://www.youtube.com/embed/XwJGa_6nkpI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
                    </div>
                </div>
            </div>  
<!--третий блок, преимущества-->
        <div id="Third_Block" class="container">      
        </div>  
<!--четвёртый блок, Игры-->
           <div id="Fourth_Block" class="container">
                <h1 id="Fourth_Block_header">
                    Популярные игры
                </h1>
                <div id="Fourth_Block_img_holder">
                	<div class="Fourth_Block_img_holder_low">
                		<h6>Симуляторы</h6>
                		<img class="Fourth_Block_img" src="{{ url_for('static', filename='img/game_1.jpg')}}">	
                	</div>
                	<div class="Fourth_Block_img_holder_low">
                		<h6>Шутеры</h6>
                		<img class="Fourth_Block_img" src="{{ url_for('static', filename='img/game_2.jpg')}}">	
                	</div>
                	<div class="Fourth_Block_img_holder_low">
                		<h6>Экстрим</h6>
                		<img class="Fourth_Block_img" src="{{ url_for('static', filename='img/game_3.jpg')}}">	
                	</div>
                	<div class="Fourth_Block_img_holder_low">
                		<h6>Детские</h6>
                		<img class="Fourth_Block_img" src="{{ url_for('static', filename='img/game_4.jpg')}}">	
                	</div>
                	<div class="Fourth_Block_img_holder_low">
                		<h6>Музыкальные</h6>
                		<img class="Fourth_Block_img" src="{{ url_for('static', filename='img/game_5.png')}}">	
                	</div>
                	<div class="Fourth_Block_img_holder_low">
                		<h6>Ужасы</h6>
                		<img class="Fourth_Block_img" src="{{ url_for('static', filename='img/game_6.jpg')}}">	
                	</div>
                </div>
                <div id="Fourth_Block_button">
                    <a href="#" class="button" ">Запросить каталог игр</a>
                </div>        
            </div>
<!--пятый блок, отзывы+галерея-->     
        <div id="Fifth_Block" class="container">
                    <h1 id="Fifth_Block_header">
                        Отзывы
                    </h1>
                    <h5 id="Fifth_Block_header_low">
                        Клуб виртуальной реальности INSIDE VR 
                    </h5>
            <div id="slider" class="slider">
                <ol class="slider__indicators">
                    <li class="slider__indicator slider__indicator_active" data-slide-to="0"></li>
                    <li class="slider__indicator" data-slide-to="1"></li>
                    <li class="slider__indicator" data-slide-to="2"></li>
                    <li class="slider__indicator" data-slide-to="3"></li>
                </ol>
            <div class="slider__items">
              <div class="slider__item slider__item_1 slider__item_active">
                <div class="slider__item_inner">
                  <span class="slider__item_img">
                    <img class="slider__item_photo" src="/examples/images/review_1.jpg" alt="">
                  </span>
                  <span class="slider__item_testimonial">
                    <span class="slider__item_name">вася пупкин</span>
                    <span class="slider__item_text">
                      Поиграл на ура
                    </span>
                  </span>
                </div>
              </div>
              <div class="slider__item slider__item_2">
                <div class="slider__item_inner">
                  <span class="slider__item_img">
                    <img src="/examples/images/review_2.jpg" alt="">
                  </span>
                  <span class="slider__item_testimonial">
                    <span class="slider__item_name">ангелина мотвеевна</span>
                    <span class="slider__item_text">
                      ваще крутяк
                    </span>
                  </span>
                </div>
              </div>
              <div class="slider__item slider__item_3">
                <div class="slider__item_inner">
                  <span class="slider__item_img">
                    <img src="/examples/images/review_1.jpg" alt="">
                  </span>
                  <span class="slider__item_testimonial">
                    <span class="slider__item_name">кристина палатаева</span>
                    <span class="slider__item_text">
                      ребёнок играл я икала
                    </span>
                  </span>
                </div>
              </div>
              <div class="slider__item slider__item_4">
                <div class="slider__item_inner">
                  <span class="slider__item_img">
                    <img src="/examples/images/review_4.jpg" alt="">
                  </span>
                  <span class="slider__item_testimonial">
                    <span class="slider__item_name">куля кукуля</span>
                    <span class="slider__item_text">
                      sfgkjhdgkdo nsffg osfg g sogh блин раскладка
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <a class="slider__control slider__control_prev" href="#" role="button"></a>
            <a class="slider__control slider__control_next" href="#" role="button"></a>
            </div>
        </div>      
<!--шестой блок, Бонирование-->
           <div id="Sixth_Block" class="container">
                <div id="Sixth_Block_header">забронировать сеанс</div>        
                    <form action="#" id="Sixth_Block_form">
                        <div>
                            <input type="text" name="name" class=" input_Sixth_Block"id="Sixth_Block_name" placeholder="Имя">
                            <input type="text" name="phone" class=" input_Sixth_Block" id="Sixth_Block_phone" placeholder="Телефон">
                        </div>
                        <div>
                            <input type="text" name="email" class=" input_Sixth_Block" id="Sixth_Block_email" placeholder="email">
                            <input type="text" name="name" class=" input_Sixth_Block" id="Sixth_Block_time" placeholder="Дата,время, количество установок">
                        </div>
                        <button type="button" id="Sixth_Block_button"> Отправить</button>
                    </form>    
            </div>
            <div id="bg_Sixth_Block"></div>
<!--седьмой блок, Карта-->
    <div id="Seventh_Block" class="container">
        <div id="Seventh_Block_Info">
            <div id="Seventh_Block_contacts">
                <h1 id="contacts_header">
                    контакты    
                </h1>
                <h5 id="contacts_header_low">
                    INSIDE VR|Клуб виртуальной реальности     
                </h5>
                <div id="contacts_main_text">
                    
                        <div class="contacts_top">
                            наш адрес:   
                        </div>    
                        <div class="contacts_top">
                            позвони нам:   
                        </div>    
                        <div class="contacts_top">
                            Подписывайся   
                        </div>   
                    
                    
                        <div class="contacts_middle">
                            г.Томск ул. Красноармейская 120<br>
                            Главный вход,правое крыло  
                        </div>    
                        <div class="contacts_middle">
                            8999999999<br>
                            пн-пт: 11:00 - 20:00; сб-вс: 11:00-21:00                     
                        </div>    
                        <div class="contacts_middle">
                            VK.com/inside<br>
                            instagram/virtuality_tsk   
                        </div>   
                </div>                
            </div>
            <div id="Seventh_Block_map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A25f14a521d194e74dfd45cbee91b786f28afe3c5412c0794667425adeb91a206&amp;source=constructor" width="643" height="476" frameborder="0" id="map"></iframe>
            </div>
        </div>        
    </div>                       
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.event.move.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.twentytwenty.js')}}"></script>
    <script src="{{ url_for('static', filename='js/Site.js')}}"></script>
    <script>
        $(function(){
        $(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({default_offset_pct: 0.7});
        });
    </script>
    <script src="{{ url_for('static', filename='js/Review.js')}}"></script>    
</body>
</html>

