<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<!--первый блок-->
	<div>
        <table border=:1" width="600" align="center">
		    <tr>
                <td colspan="2" align="center">
                    Клуб виртуальной реальности <strong>INSIDE VR</strong>
                </td>
                
            </tr>
		    <tr>
                <td align="right" width="300">
                    <form>
                        <input type="button" value="Игры" >
                    </form>    
                </td>
                <td align="left" width="300">
                    <form>
                        <input type="button" value="бронирование">
                    </form>
                </td>
            </tr>
		    <tr>
                <td colspan="2" align="center">
                    <strong>Акция!</strong> Первое посещение бесплатно!
                </td>
                
                
            </tr>
	   </table>	
    </div>
<!--второй блок-->
	<div>
        <table border="1">
		    <tr>
                <td>
                    <strong>О нас</strong>
                </td>
            </tr>
		    <tr>
                <td>
                    Ещё недавно никто не мог себе предсавить, что он сможет не только смотреть, но и взаимодействовать с виртуальным миром.
                </td>
            </tr>
		    <tr>
                <td>
                    Подарите себе и своим близким незабываемые впечатления
                </td>
            </tr>
			<tr>
                <td>
                    <form>
                        <input type="button" value="Хочу попробовать!">
                    </form>
                </td>
            </tr>
        </table>
    </div>
<!--контакты-->
    <div>
        <table border="1">
            <tr>
                <td colspan="3">
                    контакты    
                </td>    
            </tr>
            <tr>
                <td colspan="3">
                    Клуб виртуальной реальности INSIDE VR    
                </td>
            </tr>
            <tr>
                <td>
                    наш адрес:   
                </td>    
                <td>
                    позвони нам:   
                </td>    
                <td>
                    Подписывайся   
                </td>    
            </tr>
            <tr>
                <td>
                    г.Томск ул. Красноармейская 120  
                </td>    
                <td>
                    8999999999                     
                </td>    
                <td>
                    VK.com/inside   
                </td>    
            </tr>
            <tr>
                <td>
                    Главный вход,правое крыло   
                </td>    
                <td>
                    пн-пт: 11:00 - 20:00; сб-вс: 11:00-21:00   
                </td>    
                <td>
                    instagram/virtuality_tsk   
                </td>    
            </tr>
        </table>    
    </div>
</body>
</html>
